/* You can add global styles to this file, and also import other style files */

body{
    background-image: url('./assets/img/bg1.jpg');
    background-position: center;
    background-size: cover;
}

label{
    font-size: 120%;
    color: white;
}

h5{
    font-size: 170%;
}

.badge{
    margin: 2px;
}